@use 'util' as *;
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(20);
}
.card {
    position: relative;
    background: var(--card-bg);
    border-radius: rem(5);
    color: var(--dark-text1);
    padding: rem(20);
    text-align: center;
    transition: background 150ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
    
    &:hover {
        background: var(--card-hover);
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: rem(20) 0;
    }
    &__icon {
        font-size: rem(48);
        margin-right: rem(5);
    }
    &__name {
        font-size: rem(12);
        font-weight: bold;
        color: var(--text-color1);    
    }
    &__follower {
        margin-bottom: rem(15);  
    }
    &__count--big {
        font-size: rem(50);
        color: var(--text-color2);
        font-weight: 900;
    }
    &__count--small {
        font-size: rem(30);
        color: var(--text-color2);
        font-weight: 900;
    }
    &__label {
        color: var(--text-color2);
        font-weight: 300;
        letter-spacing: rem(6);
    }
    &__update {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: rem(15) 0;
        font-size: rem(15);
        color: var(--limegreen);
        &--down {
            color: var(--brightred);
        }
    }
    &__number {
        margin-left: rem(5);
        font-size: rem(12);
        font-weight: 600;
    }
    &--facebook {
        border-top: rem(5) solid var(--facebook);
    }
    &--twitter {
        border-top: rem(5) solid var(--twitter);
    }
    &--instagram {
        padding-top: rem(30);
        &::before {
            content:'';
            position: absolute;
            display: block;
            width: 100%;
            height: rem(5);
            top: 0;
            left: 0;
            background: linear-gradient(225deg,var(--instagram-end),var(--instagram-middle) 50.91%,var(--instagram-start) 100%); 
        
        }
        
    }
    &--youtube {
        border-top: rem(5) solid var(--youtube);
    }
}
