@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;500&family=Inter:wght@200;600&family=Open+Sans:wght@300&display=swap');

* {
    font-size: 100%;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background: var(--background);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
body.light {
    --background: var(--light-bg);
    --text-color: var(--light-text2);
    --text-color2: var(--light-text1);
    --card-bg: var(--light-card);
    --card-hover: var(--light-card-hover);
    --toggle: var(--toggle-light);
    --toggle-bg: var(--toggle-bg-light);
    --toggle-button: var(--toggle-button-light);
  }
  
  body.dark {
    --background: var(--dark-bg);
    --text-color: var(--dark-text2);
    --text-color2: var(--dark-text1);
    --card-bg: var(--dark-card);
    --card-hover: var(--dark-card-hover);
    --toggle: var(--light-bg);
    --toggle-bg: linear-gradient(
      225deg,
      var(--toggle-bg-end) 0%,
      var(--toggle-bg-start) 98.02%
    );
    --toggle-button: var(--dark-bg);
  }